---
import Layout from '../layouts/Layout.astro';
import Top from '../components/index/Top.vue';
import About from '../components/index/About.astro';
import Skills from '../components/index/Skills.astro';
import Interests from '../components/index/Interests.astro';
import Stats from '../components/index/stats.vue';
import Projects from '../components/index/Projects.vue';
import Pixi from '../components/index/Pixi.vue';
import "../styles/global.css";
import { Icon } from 'astro-icon/components';

---

<Layout title="eitaar.dev" loadNavBar=false>
  <div>
    <Pixi client:idle/>
    <Top class="absolute">
        <Icon name="mdi:github" slot="githubIcon" class="absolute" width={'100%'} height={'100%'}/>
        <p class="link text-3xl lg:text-5xl font-bold tracking-tighter my-1" slot="AboutLink" id="aboutLink">About</p>
        <p class="link text-3xl lg:text-5xl font-bold tracking-tighter my-1" slot="ProjectLink" id="projectLink">Projects</p>
    </Top>
  </div>
    <div class="w-full h-[7.5vh]">
      <h2 class="text-center text-5xl font-bold font-Quantico link ABOUT my-4 w-full">About</h2>
    </div>
    <div class="w-9/10  flex flex-col lg:flex-row items-center mx-auto justify-start gap-2 lg:gap-4 flex-wrap lg:h-[92.5vh] p-2">
      <!-- cards -->  
      <div class="flex-1 flex flex-col gap-4 h-full">
        <About/>
        <Skills/>
        <Interests/>
        <Stats client:visible/>
      </div>
      <div class="flex-1 flex flex-col gap-4 h-full">
        <Projects client:visible/>
        <Skills/>
        <Skills/>
      </div>
    </div>
</Layout>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
import { ScrollToPlugin } from "gsap/ScrollToPlugin";
import { createPixi } from '../assets/src/top.ts'
gsap.registerPlugin(ScrollTrigger, ScrollToPlugin); 

console.log("using GSAP: ", gsap.version);

//scrolls to the top of the page on refresh
history.scrollRestoration = "manual";
window.addEventListener('beforeunload', () => { 
  window.scrollTo(0, 0);
});

function scrollToAbout() {
  const target = document.querySelector('.ABOUT');
  if (target) {
    gsap.to(window, { duration: 0.125, scrollTo: { y: target } });
  } else {
    console.error('Element with class .ABOUT not found');
  }
}

function scrollToProjects() {
  const target = document.querySelector('.PROJECTS');
  if (target) {
    gsap.to(window, { duration: 0.25, scrollTo: { y: target } });
  } else {
    console.error('Element with class .PROJECTS not found');
  }
}

</script>